<div class="container mat-elevation-z8">
  <form class="form">
    <h1 class="fullWidth">Criar Cliente</h1>
    <img
      class="fullWidth"
      src="assets/img/tecnico-create.svg"
      alt="Help Desk - Dicas de um DEV"
    />

    <mat-form-field appearance="fill" class="fullWidth">
      <mat-label>Nome</mat-label>
      <input
        [formControl]="nome"
        [(ngModel)]="cliente.nome"
        matInput
        name="nome"
        required
        placeholder="Ex.. fulano"
        maxlength="50"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="fullWidth">
      <mat-label>CPF</mat-label>
      <input
        [formControl]="cpf"
        [(ngModel)]="cliente.cpf"
        matInput
        name="cpf"
        required
        placeholder="EX.. 000.000.000-00"
        mask="000.000.000-00"
      />
      <mat-icon matSuffix>pin</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="fullWidth">
      <mat-label>Email</mat-label>
      <input
        [formControl]="email"
        [(ngModel)]="cliente.email"
        type="email"
        matInput
        name="email"
        required
        placeholder="Ex.. fulano@mail.com"
      />
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="fullWidth">
      <mat-label>Senha</mat-label>
      <input
        [formControl]="senha"
        [(ngModel)]="cliente.senha"
        matInput
        type="password"
        name="senha"
        required
        placeholder="Ex.. 1234"
      />
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

    <button
      type="button"
      class="fullWidth mat-elevation-z4"
      mat-flat-button
      color="primary"
      [disabled]="!validaCampos()"
      (click)="create()"
    >
      <mat-icon>save</mat-icon>
      <span>Cadastrar</span>
    </button>

    <button
      type="button"
      routerLink="../"
      class="fullWidth mat-elevation-z4"
      mat-stroked-button
      color="warn"
    >
      <mat-icon>cancel</mat-icon>
      <span>Cancelar</span>
    </button>
  </form>

  <p class="fullWidth">by Lucas Allison</p>
</div>
